@import "tailwindcss";

@theme {
    --font-body: "Cascadia code", sans-serif;

    --color-pink: #ECBBDB;
    --color-dark-gray: #1E1E1E;
    --color-dark-pink: #705667;
}

@layer base {
    body {
        font-family: var(--font-body);
        background-color: var(--color-dark-gray);
        color: white;
    }
}

@layer components {
    .duotone {
      @apply relative flex overflow-hidden bg-(--color-pink) 
             before:absolute before:inset-0 before:z-[1] before:bg-black before:opacity-50 before:mix-blend-multiply 
             after:absolute after:inset-0 after:z-[2] after:bg-(--color-indigo) after:opacity-40 after:mix-blend-screen
             before:transition-all before:duration-300 before:ease-in-out after:transition-all after:duration-300 after:ease-in-out;
      
      img {
        @apply flex-[1_0_100%] object-cover mix-blend-multiply grayscale transition-all duration-300 ease-in-out;
      }
    }
  }
  