@import "tailwindcss";

@theme {
    --font-body: "Cascadia code", sans-serif;

    --color-pink: #ECBBDB;
    --color-dark-gray: #1E1E1E;
    --color-dark-pink: #705667;
}

@layer base {
    body {
        font-family: var(--font-body);
        background-color: var(--color-dark-gray);
        color: white;
    }
}

@layer components {
    .duotone {
        @apply relative flex overflow-hidden;
    }

    .duotone img {
        @apply flex-[1_0_100%] object-cover transition-all duration-300 ease-in-out;
        filter: grayscale(50%) contrast(1.2) brightness(0.9) sepia(30%) hue-rotate(-20deg);
    }
}